body {
    background-color: bisque;
}
input {
    margin-left: 30px;
    background-color: rgb(245, 236, 226);
}
button {
    margin-left: 30px;
    background-color: rgb(211, 134, 39);
}
h1 {
    margin-left: 30px;
}
